@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Bossa';
  src: url('./fonts/Bossa-Bold.woff2') format('woff2'),
       url('./fonts/Bossa-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
    h1,h2,h3,h4 {
      @apply font-bossa;
    }
    b, strong, i, em, u, strike, small, big, sub, sup, mark, button, p, span, h5 {
      @apply font-inter;
    }
    table, th, td, caption {
      @apply font-inter;
    }
  }

@layer components {
    /*  COLOR ADDITIONS */
    .n3-gradient-dark {
      @apply bg-gradient-to-r from-primary-blue-600 to-primary-green-600;
    }
    .n3-gradient-light {
      @apply bg-gradient-to-r from-primary-blue-200 to-primary-green-200;
    }
    .n3-gradient-warn {
      @apply bg-gradient-to-t from-white from-70% to-secondary-orange-200;
    }

  }