
.LM-split-screen {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .LM-split-screen .LM-input, .LM-split-screen .LM-output {
    width: 50%;
    border-radius: 4px;
  }
  
  .LM-output {
    display: flex;
    flex-direction: column;
  }
  
  textarea.LM-input {
    padding: 1rem;
  }

  .LM-output {
    &>div {
      &>p:first-child {
        display: hidden;
      }
    }
  }
  