name: Foundry CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: onbjerg/foundry-toolchain@v1
      with:
        version: nightly
    - run: echo $(forge --version)
    - run: forge install
    - run: forge build
    - run: forge test
    - run: forge coverage
    - run: forge coverage --report lcov
    - uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: false
        verbose: true
